# Database configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_DB=data

# Redis configuration
REDIS_ADDRESS=redis:6379
REDIS_TLS=false

# Minio configuration
MINIO_ACCESS_KEY=hitler_fucking_niggers
MINIO_SECRET_KEY=niggers_have_no_secrets
MINIO_ENDPOINT=minio:9000
MINIO_PUBLIC_ENDPOINT=https://cdn.domain.example

# JWT Configuration
JWT_SECRET=niggers_have_no_secrets
JWT_AUDIENCE=web
JWT_EXPIRATION_TIME=28800

# Service-to-Service communication
INTERNAL_API_KEY=hitler_fucking_niggers
API_BASE_URL=api:8000

# Application URLs
APP_URL=https://backend.domain.example
FRONTEND_URL=https://frontend.domain.example
COOKIE_DOMAIN=.domain.example # for hostname with '.' e.g., .domain.example
VITE_API_URL=$APP_URL

# API configuration
GIN_MODE=debug
ALLOW_ORIGINS='https://domain.example,https://app.domain.example' # at least 2 origins

# Telegram stuff
TG_BOT_TOKEN=asdf

## Email config ##
EMAIL_PROVIDER=mock # resend | mailgun | mock
EMAIL_DOMAIN=example.com

# Resend
RESEND_API_KEY=send_api_key

# Mailgun 
MAILGUN_HOST=https://api.eu.mailgun.net
MAILGUN_API_KEY=send_api_key

## PAYMENTS ##
ENABLE_DEMO_PAYMENTS=false

# SolanaPay
SOLANAPAY_BASE_URL=payments-sol:8000
SOLANAPAY_WALLET=adress
SOLANAPAY_PROCESS_INTERVAL=30000
SOLANA_RPC_URL=rpc_url
SOLANA_MASTER_SEED=seed phrase

# BSCPay
BSCPAY_BASE_URL=payments-bsc:8000
BSCPAY_OWNER_WALLET=adress
BSCPAY_OWNER_CUT='0.3'
BSCPAY_PROCESS_INTERVAL=30000
BSC_RPC_URL=https://bsc-dataseed.binance.org
BSC_MASTER_SEED=seed

#Etherscan
ETHERSCAN_API_KEY=key

# Cashpoint
CASHPOINT_BASE_URL=https://p.cashpointplus.com/api/v1/
CASHPOINT_API_KEY=asdfasdf
CASHPOINT_PRIVATE_KEY=asdfasdfasdf

# NOWPAYMENTS
NOWPAYMENTS_API_KEY=asdf
NOWPAYMENTS_PUBLIC_KEY=asdf
NOWPAYMENTS_IPN_KEY=asdf

# ESIM configuration
ESIM_ACCESS_API_KEY=key
ESIM_ACCESS_API_URL=https://api.esimaccess.com/api/v1
